<div class="container">
  <mat-card class="round-corners">
    <mat-card-title class="title row">
      <span>Your Diary</span>
      <img [src]="arrowSrcImg.src" [alt]="arrowSrcImg.alt">
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="diaryForm" (submit)="sendMessage()">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Write something" formControlName="input"></textarea>
        </mat-form-field>
        <emoji-mart *ngIf="!isPickerHidden" title="Pick your emoji…" emoji="point_up"
                    (emojiClick)="emojiClicked($event)" [showPreview]="false"></emoji-mart>
        <mat-card-actions class="row">
          <button mat-button type="button" (click)="togglePicker()" class="picker">
            <img [src]="isPickerHidden ? pickerHiddenSrcImg.src : pickerShownSrcImg.src"
                 [alt]="isPickerHidden ? pickerHiddenSrcImg.alt : pickerShownSrcImg.alt">
          </button>
          <button mat-button type="submit" class="save-button">Save</button>
        </mat-card-actions>
      </form>
      <app-diary-record *ngFor="let record of records" [record]="record"></app-diary-record>
    </mat-card-content>
  </mat-card>
</div>
